
@{
    ViewData["Title"] = "Test";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Test</h1>
<h3>Oluşturulan view sayfası</h3>
<table>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Depertman</th>
    </tr>
    <tr>
        <td>1</td>
        <td>İrem</td>
        <td>Yazılım</td>
    </tr>
    <tr>
        <td>2</td>
        <td>Elif</td>
        <td>Yazılım</td>
    </tr>
</table>